@charset "utf-8";
/* CSS Document */
body
    {
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
        font-family: 'gotham-mediumgotham-medium';
        color: #656565;
        line-height: 1.5;
    }
a,
a:hover,
a:active,
a:focus
    {
        outline: 0;
    }
p
    {
        font-size: 15px;
    }
select
	{
		-webkit-appearance:none;
	}
.main_wrap
    {
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
		position: relative;
    }


/* Nav bar */


.nav_bar_home 
    {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        padding: 0 15px;
		left: 0;
		right: 0;
		top: 0;
    }
.nav_bar_home .nav_navbar
    {
        background-color: transparent;
    }
.navbarhome
    {
        width: 100%;
        max-width: 1366px;
        margin: 0 auto !important;
    }
.nav_bar_home .logo 
    {
        background-color: transparent;
        left: inherit;
        padding: 0;
        position: inherit;
        top: inherit;
        width: 180px;
        margin: 25px 0;
    }
.nav_bar_home .navbar-nav > li > a
    {
        border: 1px solid transparent;
        border-radius: 5px;
        color: #fff;
        margin: 30px 0 30px 5px;
        padding: 5px 8px;
        font-size: 12px;
    }
.nav_bar_home .navbar-nav > li:nth-child(1) a img
    {
        width: 10px;
    }
.nav_bar_home .navbar-nav > li:nth-child(2) a img
    {
        width: 14px;
    }
.navbar-header
    {
        padding: 0 ;
    }
.nav > li > a:hover, 
.nav > li > a:focus
    {
        border: 1px solid #ccc;
        background-color: transparent;
        text-decoration: none;
    }
.active
    {
        border: 1px solid #f37125 !important;
    }
.navbar-nav li:last-child a
    {
        background-color: #f37125;
        color: #fff;
        text-align: center;
    }
.navbar-nav li:last-child button
    {
        background-color: #f37125;
        color: #fff;
        text-align: center;
    }
.nav_bar_home .navbar-nav > li > button
    {
        border: 1px solid transparent;
        border-radius: 5px;
        color: #fff;
        margin: 30px 0 30px 5px;
        padding: 5px 8px;
        font-size: 12px;
    }
.nav > li > button:hover, 
.nav > li > button:focus
    {
        border: 1px solid #ccc;
        background-color: transparent;
        text-decoration: none;
    }
.navbar-nav > li > button
    {
        text-transform: uppercase;
    }
.navbar-nav > li > button {
    line-height: 20px;
}

@media (max-width: 1170px)
{
    .nav_bar_home .navbar-nav > li > a
        {
            font-size: 10px;
        }

}


@media (max-width: 990px)
{
    .navbar-header
        {
            border-bottom: 1px solid #555;
            width: 100%;
            padding: 0 15px;
        }
    .nav_bar_home
        {
            background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
            position: inherit;
        }
    .navbar-right
        {
            width: 100%;
            margin: 0;
            padding-bottom: 15px;
        }
    .nav_bar_home
        {
            padding: 0 ;
        }
    .nav_bar_home .logo
        {
            margin: 15px 0;
            width: 150px;
        } 
    .navbar-toggle
        {
            margin: 15px 0;
        }
    .nav_bar_home .navbar-nav > li > a
        {
            font-size: 12px;
            margin: 5px;
            padding: 6px 8px;
        }
    .nav > li > a:hover, 
    .nav > li > a:focus
        {
            border: 1px solid #555;
        }
    .nav_bar_home .navbar-nav > li > button
        {
            font-size: 12px;
            margin: 5px;
            padding: 6px 8px;
			width: 100%;
        }
    .nav > li > button:hover, 
    .nav > li > button:focus
        {
            border: 1px solid #555;
        }

}


@media (max-width: 768px) 
{
    .nav_bar_home .logo
        {
            margin: 15px 0;
            width: 110px;
        }
    .navbar-toggle 
        {
            margin: 10px 0;
        }

}


.nav_phone
    {
        text-align: right;
        border-bottom: 1px solid #dfdfdf;
    }
.nav_phone img
    {
        margin: 0 10px;
    }
.nav_phone p
    {
        margin: 0;
        padding: 12px 0;
        font-size: 12px;
    }
.mob_nav_phone
    {
        display: none;
    }
.nav_navbar
    {
        background-color: #fff;
    }
.logo 
    {
        background-color: #fff;
        left: -10px;
        padding: 0 5px 0 10px;
        position: relative;
        top: -10px;
        width: 220px;
    }
.navbar
    {
        margin: 0;
    }
.navbar-brand 
    {
        float: inherit;
        height: auto;
        padding: 0;
    }
.navbar-nav > li
    {
        text-transform: uppercase;
    }
.navbar-nav > li:nth-child(2)
    {
        text-transform: lowercase;
    }
.navbar-nav > li > a
    {
        border: 1px solid transparent;
        border-radius: 5px;
        color: #656565;
        margin: 20px 0 20px 10px;
        padding: 5px 12px;
        font-size: 12px;
    }






.navbar-toggle .icon-bar
    {
        background: #f37125 none repeat scroll 0 0;
        border-radius: 0;
        display: block;
        height: 2px;
        width: 20px;
    }


/* Slider */

.slider_img
    {
        position: relative;
    }
.caption 
    {
        max-width: 230px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
.caption h1
    {
        color: #fff;
        margin: 0;
        padding: 0 0 20px 0;
    }
.caption p
    {
        color: #fff;
        margin: 0;
        padding: 0;
    }
.slider_btn
    {
        margin-top: 35px;
    }
.slider_btn a
    {
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        font-size: 12px;
        border-radius: 5px;
        padding: 10px 15px;
        background-color: transparent;
        transition: all 0.2s ease-in 0s;
    }
.slider_btn a:hover
    {
        background-color: rgba(255,255,255,0.2);
    }
.carousel-indicators li
    {
        background-color: rgba(255, 255, 255, 0.5);
        border: medium none;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        height: 12px;
        margin: 0 1px;
        text-indent: -999px;
        width: 12px;
    }


/* Offers */


.offers
    {
        background-color: #f37125;
        padding: 20px 0;
    }
.offers h3
    {
        color: #fff;
        line-height: 30px;
        margin: 0;
        padding: 20px 0 25px;
        text-transform: uppercase;
        width: 120px;
    }
.ofr_btls
    {
        padding: 20px 20px 0 20px;
    }
.ofr_btls h4
    {
        color: #fff;
        line-height: 30px;
        margin: 0;
        padding: 0 0 30px;
        text-transform: uppercase;
    }
.ofr_logo
    {
        width: 220px;
    }
.ofr_btls h1
    {
        color: #fff;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 5em;
    }
.ofr_btls small
    {
        color: #fff;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 60%;
    }
.ofr_btn
    {
        margin: 15px 0;
    }
.ofr_btn a
    {
        text-decoration: none;
        background-color: #363636;
        border-radius: 5px;
        padding: 7px 12px;
        color: #fff;
        border: 1px solid #363636;
        text-transform: uppercase;
        transition: all 0.2s ease-in 0s;
    }
.ofr_btn a:hover
    {
        background-color: rgba(54,54,54,0.5);
    }
.ofr_man 
    {
        width: 130px;
    }


/* Products */


.products
    {
        padding: 70px 0 0 0;
    }
.pro_caption
    {
        text-align: center;
    }
.pro_caption h1
    {
        color: #000;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
.pro_caption p 
    {
        font-family: "gotham-lightgotham-light";
        margin: 0 auto;
        max-width: 500px;
        padding: 15px 0 20px;
    }
.products ul 
    {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
.products ul li
    {
        width: 33%;
        text-align: center;
        display: inline-block;
    }
.products .pro_caption_line
    {
        margin: 10px auto;
    }
.pro_items 
    {
        min-height: 300px;
        overflow: hidden;
        padding: 30px;
    }
.pro_caption_line
    {
        background-color: #f26522;
        height: 10px;
        margin: 10px auto 70px;
        width: 170px;
    }
.pro_items p
    {
        font-family: 'gotham-lightgotham-light';
        color: #7d7d7d;
        padding: 0;
        margin: 0;
    }
.pro_items img
    {
        width: 75px;
    }
.pro_items h4 
    {
        margin: 0;
        padding: 10px 0 20px 0;
        line-height: 25px;
    }


/* Services */


.services
    {
        border-top: 1px solid #c6c6c6;
        padding: 70px 0;
    }
.services_items
    {
        padding: 0 50px;
    }
.services_item
    {
        width: 25%;
        padding-bottom: 25%;
        position: relative;
        background-color: #000;
        float: left;
        transition: all 0.5s ease-in 0s;
    }
.srv_img
    {
        position: absolute;
        width: 100%;
    }
.srv_overlay
    {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(51%, rgba(0,0,0,0.49)), color-stop(100%, rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        text-align: center;
        padding: 20px;
        transition: all 0.2s ease-in 0s;
    }
.srv_overlay h4
{
    color: #fff;
    line-height: 25px;
    padding: 0;
    margin: 0;
}
.srv_overlay_icon
    {
        left: 50%;
        position: absolute;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 25%;
        opacity: 0;
        transition: all 0.2s ease-in 0s;
    }
.services_item:hover
    {
        cursor: pointer;
    }
.services_item:hover .srv_overlay
    {
        background: rgba(242,100,34,0.85);
        background: -moz-linear-gradient(top, rgba(242,100,34,0.85) 0%, rgba(242,100,34,0.85) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,100,34,0.85)), color-stop(100%, rgba(242,100,34,0.85)));
        background: -webkit-linear-gradient(top, rgba(242,100,34,0.85) 0%, rgba(242,100,34,0.85) 100%);
        background: -o-linear-gradient(top, rgba(242,100,34,0.85) 0%, rgba(242,100,34,0.85) 100%);
        background: -ms-linear-gradient(top, rgba(242,100,34,0.85) 0%, rgba(242,100,34,0.85) 100%);
        background: linear-gradient(to bottom, rgba(242,100,34,0.85) 0%, rgba(242,100,34,0.85) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26422', endColorstr='#f26422', GradientType=0 );
    }
.services_item:hover .srv_overlay_icon
    {
        opacity: 1;
    }


/* Clients */


.clients_items
    {
        background-color: #f2f2f2;
        padding: 30px 0;
    }
.clients_item
    {
        width: 10%;
        margin: 2% 5%;
        float: left;
    }
.clients_item img
    {
        width: 100%;
    }


/* Social Media */


.soc_media
    {
        padding: 50px 50px 70px 50px;
    }
.instagram_media
    {
        width: 67%;
        float: left;
    }
.facebok_media
    {
        width: 29%;
        float: right;
    }
.media_icon
    {
        height: 50px;
        margin: 0 0 20px;
        width: auto;
    }
.facebok_media .media_icon
    {
        padding: 20px 0 0;
    }
.insta_media
    {
        width: 100%;
        height: 400px;
       /* background-image: url(../img/insta_img.jpg);
        background-color: #ccc; */
        background-size: 50%;
		overflow: hidden;
    }
.instafeed img
	{
		width: 16.66%;
	}
.fb_media
    {
        width: 100%;
        height: 400px;
        /*background-image: url(../img/insta_img.jpg);
        background-color: #ccc;*/
        background-size: 100%;
		overflow: hidden;
    }


/* ITrade */


.itrade
    {
        padding-bottom: 70px;
    }
.itrade_img
    {
        width: 100%;
    }
.itrade_list_left
    {
        text-align: right;
        width: 33.33%;
        float: left;
        padding: 0 20px;
    }
.itrade_list_center
    {
        width: 33.33%;
        float: left;
        padding: 0 20px;
    }
.itrade_list_right
    {
        text-align: left;
        width: 33.33%;
        float: right;
        padding: 0 20px;
    }
.itrade_list_left_1
    {
        width: 100%;
        clear: both;
    }
.itrade_list_left_1 img
    {
        float: right;
        padding: 5px;
        width: 70px;
    }
.itrade_list_left_1 h4
    {
        margin: 0 80px 10px 0;
        padding: 0;
    }
.itrade_list_left_1 p
    {
        font-size: 13px;
        margin: 0 80px 30px 0;
        padding: 0;
        color: #a4a3a3;
    }
.itrade_list_right_1
    {
        width: 100%;
        clear: both;
    }
.itrade_list_right_1 img
    {
        float: left;
        padding: 5px;
        width: 70px;
    }
.itrade_list_right_1 h4
    {
        margin: 0 0 10px 80px;
        padding: 0;
    }
.itrade_list_right_1 p
    {
        font-size: 13px;
        margin: 0 0 30px 80px;
        padding: 0;
        color: #a4a3a3;
    }


/* Request */


.request
    {
        background-image: url("../img/requst_bg.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 70px 0;
        width: 100%;
    }
.request h3
    {
        margin: 0;
        padding: 0;
    }
.request p
    {
        margin: 0;
        padding: 0;
    }
.reqst_form
    {
        width: 100%;
        background-color: rgba(255,255,255,0.4);
        border: 0;
        padding: 10px;
        margin: 20px 0 0 0;
    }

.reqst_form_btn
    {
        width: 100%;
        background: rgba(14,158,168,1);
        background: -moz-linear-gradient(top, rgba(14,158,168,1) 0%, rgba(29,116,237,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,158,168,1)), color-stop(100%, rgba(29,116,237,1)));
        background: -webkit-linear-gradient(top, rgba(14,158,168,1) 0%, rgba(29,116,237,1) 100%);
        background: -o-linear-gradient(top, rgba(14,158,168,1) 0%, rgba(29,116,237,1) 100%);
        background: -ms-linear-gradient(top, rgba(14,158,168,1) 0%, rgba(29,116,237,1) 100%);
        background: linear-gradient(to bottom, rgba(14,158,168,1) 0%, rgba(29,116,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e9ea8', endColorstr='#1d74ed', GradientType=0 );
        border: 0;
        padding: 10px;
        margin: 20px 0 0 0;
        color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        transition: all 0.2s ease-in 0s;
    }
.reqst_form_btn:hover
    {
        background: rgba(29,116,237,1);
        background: -moz-linear-gradient(top, rgba(29,116,237,1) 0%, rgba(14,158,168,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,116,237,1)), color-stop(100%, rgba(14,158,168,1)));
        background: -webkit-linear-gradient(top, rgba(29,116,237,1) 0%, rgba(14,158,168,1) 100%);
        background: -o-linear-gradient(top, rgba(29,116,237,1) 0%, rgba(14,158,168,1) 100%);
        background: -ms-linear-gradient(top, rgba(29,116,237,1) 0%, rgba(14,158,168,1) 100%);
        background: linear-gradient(to bottom, rgba(29,116,237,1) 0%, rgba(14,158,168,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d74ed', endColorstr='#0e9ea8', GradientType=0 );
    }
/*------Popup form-------*/
.popup-form input[type="text"]
{
	border: 1px solid #ccc;
}
/*------Popup form-------*/

/* Footer */


.footer
    {
        background-color: #2f2f2f;
        padding: 40px 0 50px;
    }
.footer_cnt
    {
        width: 70%;
        float: left;
    }
.newsletter
    {
        width: 28%;
        float: right;
    }
.footer_about
    {
        width: 15%;
        float: left;
    }
.footer_product
    {
        width: 22%;
        float: left;
    }
.footer_srv_1
    {
        width: 63%;
        float: left;
    }
.footer_srv_2
    {
        width: 33%;
        float: left;
    }
.footer_cnt h4
    {
        padding: 15px 0;
        margin: 0;
        color: #fff;
    }
.footer_cnt ul
    {
        margin: 0;
        padding: 0;
        font-size: 11px;
        font-family: 'gotham-lightgotham-light';
    }
.footer_cnt ul li
    {
        list-style: none;
        padding: 3px 0;
    }
.footer_srv_1 ul li
	{
		float: left;
		width: 50%;
	}
.footer_cnt ul li a
    {
        color: #acacac;
        text-decoration: none;
        transition: all 0.2s ease-in 0s;
        font-weight: bold;
        padding: 3px 0;
    }
.footer_cnt ul li a:hover
    {
        color: #fff;
    }
.footer_srv_2 ul 
    {
        padding-top: 50px;
    }
.newsletter h3
    {
        padding: 15px 0 10px 0 ;
        margin: 0;
        color: #fff;
    }
.newsletter p
    {
        margin: 0;
        font-family: 'gotham-lightgotham-light';
        font-weight: bold;
        font-size: 11px;
        color: #acacac;
        padding-bottom: 15px;
    }
.newsletter_form
    {
        width: 100%;
        background-color: rgba(255,255,255,0.1);
        border: 0;
        padding: 10px;
        color: #fff;
        font-size: 12px;
    }
.newsletter_btn 
    {
        background-color: #f37125;
        border: 0 none;
        border-radius: 3px;
        color: #fff;
        font-size: 11px;
        padding: 11px 0;
        text-transform: uppercase;
        width: 100%;
        transition: all 0.2s ease-in 0s;
    }
.newsletter_btn:hover
    {
        background-color: #fd9b62;
    }
.soc_icon
    {
        margin: 0;
        padding: 25px 0 0 0;
    }
.soc_icon li
    {
        list-style: none;
        display: inline;
        padding: 0 5px 0 0;
    }
.soc_icon li a
    {

        text-decoration: none;
    }
.soc_icon li a img
    {
        width: 35px;
        filter: grayscale(0);
        transition: all 0.2s ease-in 0s;
    }
.soc_icon li a:hover img
    {
        filter: grayscale(100%);
    }
.copy
    {
        padding: 30px 0 0 0;
    }
.copy a
    {
        color: #acacac;
        text-decoration: none;
        transition: all 0.2s ease-in 0s;
    }
.copy a:hover
    {
        color: #fff;
    }


@media (max-width: 1300px)
    {
		.instafeed img
			{
				width: 20%;
			}
	}
@media (max-width: 1200px)
    {
        .srv_overlay
            {
                padding: 10px;
            }
        .srv_overlay h4
            {
                color: #fff;
                font-size: 15px;
                line-height: 20px;
            }
        .footer_cnt
            {
                width: 100%;
            }
        .newsletter
            {
                width: 100%;
            } 


    }
@media (max-width: 1100px)
    {
		.instafeed img
			{
				width: 25%;
			}
	}

@media (max-width: 990px)
    {
        .navbar-nav > li > a
            {
                border: 1px solid transparent;
                border-radius: 5px;
                color: #656565;
                margin: 20px 0 20px 4px;
                padding: 5px ;
                font-size: 11px;
            }
        .ofr_btls 
            {
                margin: 15px;
                padding: 10px 0 0;
            }
        .products ul li
            {
                display: inline-block;
                text-align: center;
                width: 49%;
            }
        .pro_items
            {
                min-height: 320px;
            }  
        .pro_caption h1
            {
                font-size: 30px;
            }
        .pro_items h4
            {
                font-size: 16px;
            }
        .services_items 
            {
                padding: 0 20px;
            }
        .soc_media
            {
                padding: 40px 20px;
            }
        .itrade_img 
            {
                left: 50%;
                position: relative;
                transform: translate(-50%);
                width: 50%;     
                padding: 0 0 30px;
            }  
        .itrade_list_left
            {
                width: 50%;
                padding: 0 15px;
            }
        .itrade_list_center
            {
                display: none;
            }
        .itrade_list_right
            {
                width: 50%;
                padding: 0 15px;
            }
		.instafeed img
			{
				width: 33.33%;
			}


    }


@media (max-width: 768px)
    {
        .logo
            {
                left: 0;
                padding: 8px 0 7px 15px;
                top: 0;
                width: 165px;
            }   
        .nav_phone
            {
                display: none;
            }
        .navbar-nav > li > a 
            {
                margin: 0 10px;
            }
        .navbar-nav li:last-child a
            {
                text-align: center;
            }
        .mob_nav_phone
            {
                display: block;
            }
        .mob_nav_phone p
            {
                font-size: 12px;
            }
        .caption p
            {
                display: none;
            }
        .caption h1
            {
                padding: 0 0 10px 0;
                font-size: 25px;
            }
        .slider_btn
            {
                margin-top: 10px;
            }
        .slider_btn a
            {
                font-size: 10px;
                padding: 5px 10px;
            }
        .carousel-indicators
            {
                bottom: 0;
            }
        .ofr_btls h4
            {
                font-size: 14px;
                line-height: 20px;
                padding: 0 0 20px;
            }
        .ofr_logo
            {
                margin-bottom: 20px;
                width: 120px;
            }
        .ofr_btls h1
            {
                font-size: 3em;
            }
        .offers h3
            {
                font-size: 20px;
                line-height: 10px;
                padding: 10px 0;
                width: 182px;
            }
        .products
            {
                padding: 40px 0 0 0;
            }
        .pro_caption p
            {
                padding: 10px 0 15px;
            }
        .pro_caption_line
            {
                height: 7px;
                margin: 10px auto 40px;
                width: 150px;
            }
        .pro_items
            {
                padding: 20px;
            }  
        .pro_caption h1 
            {
                font-size: 25px;
            }
        .services_item
            {
                width: 50%;
                padding-bottom: 50%;
            }
        .services
            {
                padding: 40px 0;
            }
        .clients_item
            {
                margin: 2% 9%;
                width: 15.33%;
            }
        .instagram_media
            {
                width: 100%;
                float: inherit;
            }
        .facebok_media
            {
                width: 100%;
                float: inherit;
            }
        .media_icon
            {
                height: 30px;
            }
        .facebok_media .media_icon
            {
                padding: 10px 0 0;
                margin-top: 10px;
            }
        .insta_media
            {
                height: 400px;
            }
       /* .fb_media
            {
                height: 400px;
            }   */
        .itrade
            {
                padding-bottom: 40px;
            }
        .footer_about
            {
                width: 50%;
            }
        .footer_product
            {
                width: 50%;
            }
        .footer_srv_1
            {
                width: 100%;
            }
        .footer_srv_2
            {
                width: 50%;
            }
        .footer
            {
                padding: 30px 0 40px;
            }  
		.instafeed img
			{
				width: 25%;
			}


    }


@media (max-width: 550px)
    {
        .products ul li
            {
                display: inherit;
                width: 100%;
            }
        .pro_items
            {
                max-height: auto;
                min-height: auto;
                overflow: inherit;
                padding: 15px 0;
                text-align: center;
                width: 100%;
            }
        .pro_items:nth-child(5)
            {
                margin-left: 0;
            } 
        .pro_items img
            {
                margin-bottom: 10px;
                width: 55px;
            }
        .products
            {
                padding: 20px 0;
            } 
        .pro_caption h1 
            {
                font-size: 16px;
            }
        .pro_caption p
            {
                font-size: 13px;
                padding: 10px 0;
            }
        .pro_caption_line
            {
                height: 5px;
                margin: 5px auto 15px;
                width: 100px;
            }
        .pro_items h4
            {
                font-size: 14px;
            }
        .pro_items p 
            {
                font-size: 12px;
            }
        .services_items 
            {
                padding: 0 15px;
            }
        .services
            {
                padding: 20px 0;
            }  
        .clients_item 
            {
                margin: 5%;
                width: 23.33%;
            }
        .soc_media
            {
                padding: 30px 15px 20px;    
				overflow: hidden;

            }
        .itrade_img
            {
                left: inherit;
                position: inherit;
                transform: none;
                width: 100%;     
                padding: 0 0 30px;
            }  
        .itrade
            {
                padding-bottom: 20px;
            }
        .itrade_list_left
            {
                width: 100%;
                text-align: left;
            }
        .itrade_list_right
            {
                width: 100%;
            }
        .itrade_list_left_1 img 
            {
                float: left;
                width: 60px;
            }  
        .itrade_list_right_1 img
            {
                width: 60px;
            }  
        .itrade_list_left_1 h4
            {
                margin: 0 0 5px 70px;
            }
        .itrade_list_left_1 p
            {
                margin: 0 0 20px 70px;
            }  
        .itrade_list_right_1 h4
            {
                margin: 0 0 5px 70px;
            }
        .itrade_list_right_1 p
            {
                margin: 0 0 20px 70px;
            }
        .footer
            {
                padding: 20px 0 30px;
            }  
		.footer_srv_1 ul li
			{
				float: inherit;
				width: 100%;
			}
		.instafeed img
			{
				width: 33.33%;
			}
		.copy small
			{
				display: block;
				line-height: 0;
			}


    }


@media (max-width: 480px)
    {
        .logo
            {
                padding: 15px 0 15px 15px;
                width: 100px;
            }   
        .caption h1
            {
                padding: 0;
                font-size: 15px;
            }
        .slider_btn a
            {
                font-size: 8px;
                padding: 3px 6px;
            }  
        .ofr_btls h4
            {
                font-size: 10px;
                padding: 0 0 10px;
            }
        .ofr_logo
            {
                margin-bottom: 10px;
                width: 90px;
            }  
        .ofr_btls h1
            {
                font-size: 2em;
            }
        .ofr_btls small
            {
                display: none;
            }
        .ofr_btn a
            {
                font-size: 10px;
                padding: 5px 8px;
            }   
        .ofr_man 
            {
                width: 70px;
            }
        .offers h3
            {
                font-size: 14px;
                width: 130px;
            }
        .ofr_btls
            {
                margin: 0 15px;
            }
        .services_item
            {
                width: 100%;
                padding-bottom: 100%;
            }
        .insta_media
            {
                height: 300px;
            }
      /*  .fb_media
            {
                height: 300px;
            }   */
        .footer_about
            {
                width: 100%;
            }
        .footer_product
            {
                width: 100%;
            }
        .footer_srv_1
            {
                width: 100%;
            }
        .footer_srv_2
            {
                width: 100%;
            }
        .itrade_list_left_1 img 
            {
                width: 45px;
            }
        .itrade_list_right_1 img
            {
                width: 45px;
            }
        .itrade_list_left_1 h4
            {
                font-size: 14px;
                margin: 0 0 5px 50px;
            }
        .itrade_list_right_1 h4
            {
                font-size: 14px;
                margin: 0 0 5px 50px;
            }
        .itrade_list_left_1 p
            {
                font-size: 12px;
                margin: 0 0 12px 50px;
                font-family: 'gotham-lightgotham-light';
                font-weight: bold;
            }
        .itrade_list_right_1 p 
            {
                font-size: 12px;
                margin: 0 0 12px 50px;
                font-family: 'gotham-lightgotham-light';
                font-weight: bold;
            }
        .itrade_list_left
            {
                padding: 0 ;
            }
        .itrade_list_right
            {
                padding: 0 ;
            }


    }



@media (max-width: 350px)
    {

.instafeed img
			{
				width: 50%;
			}

}

/* Inner About */


.inner_about
    {
        padding: 70px 0;
    }
.inner_about h4
{
    line-height: 1.5;
    color: #f37125;
}
.inner_about_cnt p
{
    font-family: "gotham-lightgotham-light";
    font-weight: bold;
}




.mission
    {
        padding: 0 0 70px 0;
    }




.mission_all
{
    margin: 1.5%;
}
.mison_rount
{
    
    width: 36%;
    padding-top: 36%;
    border-radius: 50%;
    float: left;
    margin: -1.5%;
    position: relative;
}




.mission_cnt
{
    background-color: rgba(242,101,34,0.9);
}
.vision_cnt
{
    background-color: rgba(276,172,30,0.9);
}
.value_cnt
{
    background-color: rgba(123,123,123,0.9);
}



.mission_cnnt
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    padding: 60px;
}
.mission_cnnt h4
{
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 20px 0;
}

.mission_cnnt p {
    font-family: "gotham-lightgotham-light";
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}




/*

.about_video
{
    margin: 50px 0 70px 0;
	position: relative;
    
}
.video_iframe
{
	width: 100%;
	height: 600px;
}
*/


.video_iframe
{
	width: 100%;
	height: 600px;
}
.about_video
{
    background-image: url(../img/video_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    background-position: center center;
    text-align: center;
    margin: 40px 0 70px 0;
    
}
.about_video .pro_caption h1
{
    color: #fff;
}

.about_video .pro_caption p
{
    color: #fff;
}

.about_video .youtube_icon
{
    font-size: 4.5em;
    margin: 50px 0 120px 0;
	cursor:pointer;
}

.video_link a
{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in 0s;
}
.video_link a:hover
{
    
    color: #f00;
}






/* Inner Contact */


.inner_contact
    {
        padding: 70px 0;
    }

.inner_Contact_cnt
{
    text-align: center;
}

.inner_Contact_cnt .inner_Contact_adrs
{
    width: 100%;
    max-width: 210px;
    margin: 0 auto;
    padding: 0;
}

.contact_msg_icon
{
    margin-bottom: 30px;
    margin-top: 15px;
}
.contact_ph_icon
{
    margin-bottom: 30px;
    margin-top: 15px;
}



.inner_Contact_phone
{
    font-family: 'gotham-boldgotham-bold';
    margin: 0 0 10px 0;
    padding: 0;
}
.inner_Contact_mail
{
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.inner_contact_form
    {
        padding: 70px 0;
        background-color: #eeeeee;
    }

.inner_contact_form .pro_caption h1
{
    text-align: left;
    margin-bottom: 20px;
}

.inner_contact_form p
{
    color: #000;
    padding: 0;
    margin: 25px 0 15px 0;
}

.inner_contact_form_input
{
    padding: 10px;
    width: 100%;
    border: 0;
	background-color: #fff;
}

.inner_contact_form_textarea
{
    padding: 10px;
    width: 100%;
    border: 0;
    margin-bottom: 30px;
}

.inner_contact_form input[type="text"] {
  font-size: 12px;
    color: #555;
}

.recaptcha
{
    width: 250px;
}


.inner_cntact_btn
{
    text-align: right;
    margin: 20px 0;
}
.inner_cntact_btn a
{
    text-decoration: none;
    background-color: #f37125;
    color: #fff;
    padding: 10px 60px;
    transition: all 0.2s ease-in 0s;
    border-radius: 5px;
    text-transform: uppercase;
}
.inner_cntact_btn a:hover
{
    color: #000;
}



.contact_map
{
    
}


#map {
        height: 600px;
    width: 100%;
      }























@media (max-width: 1170px)
{
    .mission_cnnt
{
    padding: 40px;
}
    .mission_cnnt p {
    font-size: 14px;
    line-height: 17px;
}
    
    #map {
        height: 500px;
      }
	.video_iframe
{
	height: 550px;
}

    
    
}
@media (max-width: 990px)
{
    .mission_cnnt h4
{
    margin: 0 0 10px 0;
}
     .mission_cnnt
{
    padding: 40px;
}
    .mission_cnnt p {
    font-size: 12px;
    line-height: 15px;
}
    
    
    .about_video
{
    
    margin: 30px 0 55px 0;
    
}

	
    
    
    #map {
        height: 400px;
      }
.video_iframe
{
	height: 500px;
}
    
    
    
    
    
}


@media (max-width: 768px)
{
    .inner_about_cnt p
{
    font-size: 12px;
}
    .inner_about_cnt h4
{
    font-size: 15px;
}
    
    
    .mission_all
{
    margin: 1.5%;
}
.mison_rount
{
    
    width: 53%;
    padding-top: 53%;
    border-radius: 50%;
    float: left;
    margin: -1.5%;
    position: relative;
}
    
    .value_cnt
{
    background-color: rgba(123,123,123,0.9);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
     .mission_cnnt h4
{
    font-size: 15px;
}
    
    .inner_about
    {
        padding: 55px 0;
    }
.mission
    {
        padding: 0 0 55px 0;
    }
    
        .about_video
{
    margin: 30px 0 40px 0;
    
}


    
    .inner_Contact_cnt .inner_Contact_adrs
{
    font-size: 13px;
}
.inner_Contact_phone
{
    font-size: 15px;
}
.inner_Contact_mail
{
    font-size: 13px;
}
    .contact_msg_icon,
.contact_ph_icon
{
    width: 50px;
}
    
    
    #map {
        height: 300px;
      }
 .video_iframe
{
	height: 450px;
}
    
    
    
    
}
@media (max-width: 550px)
{
    
    .mission_all
{
    margin: 0;
}
    .mison_rount
{
    
    width: 80%;
    padding-top: 80%;
    float: inherit;
    margin: 0 10%;
}
    .mission_cnnt
{
    padding: 60px;
}
    
    .inner_about
    {
        padding: 40px 0;
    }
.mission
    {
        padding: 0 0 40px 0;
    }
	    .value_cnt
{
    left: inherit;
    transform: inherit;
}
     .video_iframe
{
	height: 400px;
}
}



@media (max-width: 400px)
{
    
    
    
    .mison_rount
{
    
    width: 100%;
    padding-top: 100%;
    float: inherit;
    margin: 0;
}
    .mission_cnnt
{
    padding: 40px;
}
      .video_iframe
{
	height: 350px;
}
    
    
}
.req-container
{
	position: relative;
}
.validation-error {
    position: absolute;
    right: 30px;
    top: 30px;
}
.red
{
    color: #f00;
}
.newsletter_success_msg p
{
	margin: 0 0 0 13px;
    font-family: 'gotham-lightgotham-light';
    font-weight: bold;
    font-size: 11px;
    color: #f37125;
	padding-bottom:0px;
}

.newsletter .validation-error
{
	top:19px;
}
.success-msg-cont
{
	position: relative;
}
.success-msg
{
	position: absolute;
	top: 45px;
	left: 15px;
    color: #f37125;
    font-weight: bold;
    font-size: 15px;
}
.contact-input
{
	position: relative;
}

.contact-validation-error {    
	position: absolute;
    right: 10px;
    top: 9px;
}
.popup-success
{
	position: absolute;
    top: 6px;
    left: 17px;
    color: #f37125;
}
.success-container
{
	position: relative;
}
.home-success
{
	position: absolute;
	top: -27px;
	color: #fff;
}
.newsletter_success_msg
{
	position: relative;
}
.newsletter-success-message
{
	position: absolute;
    top: -16px;
}


.pageloader
   {
       position: fixed;
       left: 0px;
       top: 0px;
       width: 100%;
       height: 100%;
       z-index: 9999;
       background: url('../img/loading.gif') 50% 50% no-repeat rgb(255,255,255);
	   background-size: 15%;
   }

















