/* Inner Product */

.inner_products_drop
    {
        padding: 70px 0  0 0;
    }
.inner_facilities_hed
    {
        width: 100%;
        background-color: #f6f3ec;
        padding: 30px 20px;
    }
.inner_facilities_hed h3
    {
        margin: 0;
        padding: 0 0 20px 0;
        color: #0d1c28;
        font-size: 18px;
    }
.inner_facilities_hed p
    {
        margin: 0;
        padding: 0;
        color: #0d1c28;
    }
.image-grid 
    {
        width: 100%;
        max-width: 1310px;
        margin: 0 auto;
        padding: 10px 5px 0;
    }
.image__cell
    {
        float: left;
        position: relative;
    }
.image--basic
    {
        padding: 0 5px;
    }
.basic__img
    {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        transition: all 0.2s ease-in;
    }
.basic__img:hover
    {
        filter: grayscale(100%);
    }
.image__cell.is-collapsed .image--basic
    {
        cursor: pointer;
    }
.image__cell.is-expanded .image--expand
    {
        max-height: 2000px;
        z-index: 1;
    }
.image--expand
    {
        position: relative;
        left: -5px;
        padding: 0 ;
        box-sizing: content-box;
        overflow: hidden;
        background: #0d1c28;
        max-height: 0;
        transition: max-height .3s ease-in-out,margin-bottom .1s .2s;
    }
.image__cell.is-collapsed .arrow--up
    {
        height: 10px;
        width: 100%;
    }
.image__cell.is-expanded .arrow--up
    {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 8px solid #aa8c46;
        height: 0;
        margin: 0 auto ;
        width: 0;
    }
.image__cell.is-expanded .arrow--up--1
    {
        border-bottom-color: #4782b7;
    }
.image__cell.is-expanded .arrow--up--2
    {
        border-bottom-color: #c06c97;
    }
.image__cell.is-expanded .arrow--up--3
    {
        border-bottom-color: #a9a432;
    }
.image__cell.is-expanded .arrow--up--4
    {
        border-bottom-color: #f4c44f;
    }
.image__cell.is-expanded .arrow--up--5
    {
        border-bottom-color: #d6593f;
    }
.image--expand a
    {
        text-decoration: none;
    }
.image--large
    {
        max-width: 100%;
        height: auto;
        display: block;
        padding: 40px;
        margin: 0 auto;
        box-sizing: border-box;
    }
.image__cell .open_img_hed
    {
        color: #fff;
        font-family: "robotobold";
        margin: 20px 0 10px;
    }
.image__cell p
    {
        color: #fff;
        margin: 10px 0 15px;
        text-align: justify;
    }   
.open_img
    {
        width: 100%;
    }
.open_img_first
    {
        position: relative;
    }
.open_img_first_overlay
    {
        transition: all 0.2s ease-in ;
    }
.is-collapsed .open_img_first_overlay
    {
        background-color: rgba(13, 28, 40, 1);
        bottom: 10px;
        left: 5px;
        position: absolute;
        right: 5px;
        top: 0;
    }
.open_img_first_overlay:hover
    {
        background-color: rgba(13, 28, 40, 0.7);
    }
.is-expanded .open_img_first_overlay
    {
        background-color: rgba(13, 28, 40, 0.7);
        bottom: 8px;
        left: 5px;
        position: absolute;
        right: 5px;
        top: 0;
    }
.all_cnt
    {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
.open_img_first_overlay .open_img_extra
    {
        width: 50px;
        transition: all 0.2s ease-in ;
    }
.open_img_first_overlay .open_img_cnt
    {
        color: #fff;
        font-family: "robotobold";
        margin: 10px 0 15px;
        padding: 0;
        transition: all 0.2s ease-in 0s;
        font-size: 10px;
    }
.open_img_first_overlay:hover .open_img_extra
    {
        opacity: 0;
    }
.open_img_first_overlay:hover .open_img_cnt
    {
        margin: 50px 0 15px;
    }
.is-expanded  .open_img_first_overlay .open_img_extra
    {
        opacity: 0;
    }
.is-expanded  .open_img_first_overlay .open_img_cnt
    {
        margin: 50px 0 15px;
    }
@media only screen and (max-width: 990px)
    {
        .image__cell
            {
                width: 50%;
            }
        .image__cell:nth-of-type(2n+2) .image--expand
            {
                margin-left: -100%;
            }
        .image__cell:nth-of-type(2n+3)
            {
                clear:left;
            }
        .image--expand
            {
                left: 0;
                width: 200%;
            }
        
    }

@media only screen and (max-width: 550px)
    {
        .image__cell
            {
                width: 100%;
            }
        .image__cell:nth-of-type(1n+1) .image--expand
            {
                margin-left: 0;
            }
        .image__cell:nth-of-type(1n+2)
            {
                clear:left;
            }
        .image--expand
            {
                left: 0;
                width: 100%;
            }
        
    }

@media only screen and (min-width: 990px)
    {
        .image__cell
            {
                width: 33.33%;
            }
        .image__cell:nth-of-type(3n+2) .image--expand 
            {
                margin-left: -100%;
            }
        .image__cell:nth-of-type(3n+3) .image--expand
            {
                margin-left: -200%;
            }
        

        .image__cell:nth-of-type(3n+4)
            {
                clear: left;
            }
        .image--expand
            {
                left: -34.5%;
                width: 369%;
            }
        .image__cell .open_img_hed
            {
                color: #fff;
                font-family: 'robotobold';
                margin: 40px 20px 10px 15px;
            }
         .image__cell p
            {
                color: #fff;
                margin: 20px 16px 20px 16px;
                text-align: justify;
            }
        
    }

.inner_products_drop .image__cell
    {
        text-align: center;
    }
.inner_products_drop .image__cell p
    {
        text-align: center;
    }
.inner_products_drop a
    {
        text-decoration: none;
    }
.inner_products_drop .pro_items
    {
        height: 350px;
    }
.inner_products_drop .pro_items h4
    {
        color: #656565;
    }
.inner_products_drop .pro_items p 
    {
        color: #656565;
    }
.extra_pad
    {
        overflow: hidden;
    }
.pro_dtls_open
    {
        width: 100%;
        max-height: 400px;
    }
.pro_dtls_open_img
    {
        position: relative;
    }
.pro_dtls_open_overlay
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f00;
    }
.pro_dtls_open_overlay_01
    {
        background: rgba(117,189,209,0);
        background: -moz-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(85,148,191,1) 70%, rgba(71,130,183,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,189,209,0)), color-stop(70%, rgba(85,148,191,1)), color-stop(100%, rgba(71,130,183,1)));
        background: -webkit-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(85,148,191,1) 70%, rgba(71,130,183,1) 100%);
        background: -o-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(85,148,191,1) 70%, rgba(71,130,183,1) 100%);
        background: -ms-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(85,148,191,1) 70%, rgba(71,130,183,1) 100%);
        background: linear-gradient(to right, rgba(117,189,209,0) 0%, rgba(85,148,191,1) 70%, rgba(71,130,183,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#4782b7', GradientType=1 );
    }
.pro_dtls_open_overlay_02
    {
        background: rgba(117,189,209,0);
        background: -moz-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(170,132,168,1) 70%, rgba(192,108,151,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,189,209,0)), color-stop(70%, rgba(170,132,168,1)), color-stop(100%, rgba(192,108,151,1)));
        background: -webkit-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(170,132,168,1) 70%, rgba(192,108,151,1) 100%);
        background: -o-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(170,132,168,1) 70%, rgba(192,108,151,1) 100%);
        background: -ms-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(170,132,168,1) 70%, rgba(192,108,151,1) 100%);
        background: linear-gradient(to right, rgba(117,189,209,0) 0%, rgba(170,132,168,1) 70%, rgba(192,108,151,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#c06c97', GradientType=1 );
    }
.pro_dtls_open_overlay_03
    {
        background: rgba(117,189,209,0);
        background: -moz-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(153,172,98,1) 70%, rgba(169,164,50,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,189,209,0)), color-stop(70%, rgba(153,172,98,1)), color-stop(100%, rgba(169,164,50,1)));
        background: -webkit-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(153,172,98,1) 70%, rgba(169,164,50,1) 100%);
        background: -o-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(153,172,98,1) 70%, rgba(169,164,50,1) 100%);
        background: -ms-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(153,172,98,1) 70%, rgba(169,164,50,1) 100%);
        background: linear-gradient(to right, rgba(117,189,209,0) 0%, rgba(153,172,98,1) 70%, rgba(169,164,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#a9a432', GradientType=1 );
    }
.pro_dtls_open_overlay_04
    {
        background: rgba(117,189,209,0);
        background: -moz-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(206,194,118,1) 70%, rgba(244,196,79,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,189,209,0)), color-stop(70%, rgba(206,194,118,1)), color-stop(100%, rgba(244,196,79,1)));
        background: -webkit-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(206,194,118,1) 70%, rgba(244,196,79,1) 100%);
        background: -o-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(206,194,118,1) 70%, rgba(244,196,79,1) 100%);
        background: -ms-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(206,194,118,1) 70%, rgba(244,196,79,1) 100%);
        background: linear-gradient(to right, rgba(117,189,209,0) 0%, rgba(206,194,118,1) 70%, rgba(244,196,79,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#f4c44f', GradientType=1 );
    }
.pro_dtls_open_overlay_05
    {
        background: rgba(117,189,209,0);
        background: -moz-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(185,119,107,1) 70%, rgba(214,89,63,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,189,209,0)), color-stop(70%, rgba(185,119,107,1)), color-stop(100%, rgba(214,89,63,1)));
        background: -webkit-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(185,119,107,1) 70%, rgba(214,89,63,1) 100%);
        background: -o-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(185,119,107,1) 70%, rgba(214,89,63,1) 100%);
        background: -ms-linear-gradient(left, rgba(117,189,209,0) 0%, rgba(185,119,107,1) 70%, rgba(214,89,63,1) 100%);
        background: linear-gradient(to right, rgba(117,189,209,0) 0%, rgba(185,119,107,1) 70%, rgba(214,89,63,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#d6593f', GradientType=1 );
    }
.pro_dtls_cnt
    {
        position: absolute;
        left: 50%;
        top:0;
        max-width: 500px;
        width: 100%;
    }
.pro_dtls_cnt h4
    {
        font-family: 'gotham-boldgotham-bold';
        text-align: left !important;
        color: #fff;
        padding: 0;
        margin: 30px 0 30px 0;
    }
.pro_dtls_cnt p
    {
        font-family: 'gotham-lightgotham-light';
        text-align: left !important;
        font-weight: bold;
        padding: 0;
        margin: 0 ;
		font-size: 13px;
    }

@media (max-width: 990px)
    {
        .pro_dtls_cnt 
            {
                left: 40%;
                max-width: 280px;
            }
        .inner_products_drop
            {
                padding: 55px 0  0 0;
            }

    }

@media (max-width: 550px)
    {
        .pro_dtls_cnt 
            {
                left: 0;
                max-width: inherit;
                padding: 15px;
            }
        .pro_dtls_open_overlay_01
            {
                background-color: rgba(71,130,183,0.7);
            }
        .pro_dtls_open_overlay_02
            {
                background-color: rgba(192,108,151,0.7);
            }
        .pro_dtls_open_overlay_03
            {
                background-color: rgba(169,164,50,0.7);
            }
        .pro_dtls_open_overlay_04
            {
                background-color: rgba(244,196,79,0.7);
            }
        .pro_dtls_open_overlay_05
            {
                background-color: rgba(214,89,63,0.7);
            }
        .inner_products_drop .pro_items 
            {
                height: inherit;
            }
        .inner_products_drop
            {
                padding: 40px 0  0 0;
            }
		.pro_dtls_open
			{
				max-height: inherit;
			}

    }











