.login_wrapper{margin: 50px auto 0px;}
.login_form{ border: 2px solid #ccc; background: #fefefe;}
.login-logo{width: 280px; margin: 0px auto 20px;background-color: #000;padding: 10px;}
.login-logo img{max-width: 100%; max-height: 160px;}
.login_content h1:before,.login_content h1:after{display: none;}
footer{padding: 10px 20px;}
.pagination_wrap{width: 100%; padding: 20px; box-sizing: border-box; text-align: center;}
.nav li.hide{display:none;}
.all-link a{float: right;}
.btn-completed {
    background: #4C83A0 none repeat scroll 0 0;
    border: 1px solid #666;
    color:#666;
}
.btn-scheduled {
    background: #C7401B none repeat scroll 0 0;
    border: 1px solid #666;
    color:#666;
}
.btn-pending {
    background: #FCE45F none repeat scroll 0 0;
    border: 1px solid #666;
    color:#666;
}
.btn-reported {
    background: #D32623 none repeat scroll 0 0;
    border: 1px solid #666;
    color:#fff;
}
.func_title{font-size: 14px;}
.func_desc{font-size: 12px;}
.perm-back{float: left;}
.validation-error.red { background: #fff none repeat scroll 0 0;
    border: 1px solid #e74c3c;   
    padding: 1px 4px;
    position: absolute;
    right: 18px;
    top: -12px;
    z-index: 1;}
.schedule-counter 
{
	margin-top: 10px;
	padding: 0px;
}
.schedule-counter span
{
	text-align: center;
	float:left;
	width:100%;
}

.nav.navbar-nav.navbar-right li.dropdown
{
    display: none;
}
.nav.navbar-nav.navbar-right li.dropdown i
{
    font-size: 20px;
}

@media (min-width: 768px) {
.dash-widgets .x_content
    {
        min-height: 283px;
    }
 .dash-widgets .x_panel
    {
        margin-bottom: 20px;
    }
.nav.navbar-nav.navbar-right li.dropdown
{
    display: block;
}
}
@media (min-width: 1200px) {
.schedule-counter span
{
	font-size: 17px;
	padding:12px 0px
}
}
.netfix-logo-wrap{
    background: #fefefe;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.netfix-logo-wrap img{ max-width: 200px;}
.netfix-top-logo{padding:10px 0px; }
.netfix-top-logo img{ max-width: 120px;}
.footer-netfix-logo{padding:3px 0px;}
.footer-netfix-logo img{max-width: 80px;margin:0px 0px 0px 6px;}

.rating i
{
    color: #F6C342;
    font-size: 20px;
    margin-right: 10px;
}
